LogicAPP MDR/BlockUser.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "AAD_USER_ID": {
                "inputs": {
                    "name": "User ID",
                    "value": "@{outputs('Compose_aadUserId')}"
                },
                "runAfter": {
                    "Compose_aadUserId": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable"
            },
            "Compose_aadUserId": {
                "inputs": "@first(body('Filter_array_aaUserID'))['properties']?['aadUserID']",
                "runAfter": {
                    "Filter_array_aaUserID": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Filter_array_aaUserID": {
                "inputs": {
                    "from": "@body('Parse_JSON_Sentinel_Entities')",
                    "where": "@equals(item()['kind'],'Account')"
                },
                "runAfter": {
                    "Parse_JSON_Sentinel_Entities": [
                        "Succeeded"
                    ]
                },
                "type": "Query"
            },
            "Flow_failed": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Flow failed",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "For_each": {
                "actions": {
                    "Compose_for_analysis": {
                        "inputs": "@outputs('HTTP')",
                        "runAfter": {
                            "HTTP": [
                                "Succeeded"
                            ]
                        },
                        "type": "Compose"
                    },
                    "HTTP": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://graph.microsoft.com",
                                "authority": "",
                                "clientId": "77f5c819-71c0-40fc-a864-f90e6830a141",
                                "secret": "@{body('Get_secret')?['value']}",
                                "tenant": "@{items('For_each')?['TenantID']}",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "body": {
                                "@@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/@{variables('User ID')}"
                            },
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "method": "POST",
                            "uri": "https://graph.microsoft.com/v1.0/groups/@{items('For_each')?['UserGroupID']}/members/$ref"
                        },
                        "type": "Http"
                    },
                    "Set_variable_flow_failed": {
                        "actions": {
                            "Set_variable": {
                                "inputs": {
                                    "name": "Flow failed",
                                    "value": "true"
                                },
                                "type": "SetVariable"
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@outputs('HTTP')?['statusCode']",
                                            204
                                        ]
                                    }
                                }
                            ]
                        },
                        "runAfter": {
                            "Compose_for_analysis": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    }
                },
                "foreach": "@body('Get_items')?['value']",
                "runAfter": {
                    "Get_secret": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_items": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://system4u.sharepoint.com/sites/MDR'))}/tables/@{encodeURIComponent(encodeURIComponent('caac55af-44a0-473c-a10c-9528741e280b'))}/items",
                    "queries": {
                        "$filter": "WorkspaceID eq '@{triggerBody()?['workspaceId']}'"
                    }
                },
                "runAfter": {
                    "AAD_USER_ID": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Get_secret": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault-2']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('mdr-suite-app-secret')}/value"
                },
                "runAfter": {
                    "Get_items": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Initialize_variable_User_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "User ID",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Flow_failed": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_JSON_Sentinel_Entities": {
                "inputs": {
                    "content": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "schema": {
                        "items": {
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "properties": {
                                    "properties": {
                                        "aadTenantId": {
                                            "type": "string"
                                        },
                                        "aadUserId": {
                                            "type": "string"
                                        },
                                        "accountName": {
                                            "type": "string"
                                        },
                                        "additionalData": {
                                            "properties": {
                                                "AccountName": {
                                                    "type": "string"
                                                },
                                                "AliasNames": {
                                                    "type": "string"
                                                },
                                                "IsDeleted": {
                                                    "type": "string"
                                                },
                                                "IsEnabled": {
                                                    "type": "string"
                                                },
                                                "Sources": {
                                                    "type": "string"
                                                },
                                                "SyncFromAad": {
                                                    "type": "string"
                                                },
                                                "TransitiveDirectoryRoles": {
                                                    "type": "string"
                                                },
                                                "UpnName": {
                                                    "type": "string"
                                                },
                                                "UserPrincipalName": {
                                                    "type": "string"
                                                },
                                                "UserType": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "friendlyName": {
                                            "type": "string"
                                        },
                                        "isDomainJoined": {
                                            "type": "boolean"
                                        },
                                        "sid": {
                                            "type": "string"
                                        },
                                        "upnSuffix": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "name",
                                "type",
                                "kind",
                                "properties"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "Initialize_variable_User_ID": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Status_code_is_not_204": {
                "actions": {
                    "Terminate": {
                        "inputs": {
                            "runError": {
                                "code": "Status code is not 204"
                            },
                            "runStatus": "Failed"
                        },
                        "type": "Terminate"
                    }
                },
                "else": {
                    "actions": {}
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@variables('Flow failed')",
                                true
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/incident-creation"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "connectionId": "/subscriptions/738d02b8-c83d-4d21-9a99-60243a903b89/resourceGroups/rg-prod-mdr-suite/providers/Microsoft.Web/connections/azuresentinel",
                    "connectionName": "azuresentinel",
                    "connectionProperties": {
                        "authentication": {
                            "identity": "/subscriptions/738d02b8-c83d-4d21-9a99-60243a903b89/resourceGroups/rg-prod-mdr-suite/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-prod-mdr-suite",
                            "type": "ManagedServiceIdentity"
                        }
                    },
                    "id": "/subscriptions/738d02b8-c83d-4d21-9a99-60243a903b89/providers/Microsoft.Web/locations/northeurope/managedApis/azuresentinel"
                },
                "keyvault-2": {
                    "connectionId": "/subscriptions/738d02b8-c83d-4d21-9a99-60243a903b89/resourceGroups/rg-prod-mdr-suite/providers/Microsoft.Web/connections/keyvault",
                    "connectionName": "keyvault",
                    "connectionProperties": {
                        "authentication": {
                            "identity": "/subscriptions/738d02b8-c83d-4d21-9a99-60243a903b89/resourceGroups/rg-prod-mdr-suite/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-prod-mdr-suite",
                            "type": "ManagedServiceIdentity"
                        }
                    },
                    "id": "/subscriptions/738d02b8-c83d-4d21-9a99-60243a903b89/providers/Microsoft.Web/locations/northeurope/managedApis/keyvault"
                },
                "sharepointonline": {
                    "connectionId": "/subscriptions/738d02b8-c83d-4d21-9a99-60243a903b89/resourceGroups/rg-prod-mdr-suite/providers/Microsoft.Web/connections/sharepointonline",
                    "connectionName": "sharepointonline",
                    "id": "/subscriptions/738d02b8-c83d-4d21-9a99-60243a903b89/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline"
                }
            }
        }
    }
}